* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --red001: hsl(0, 78%, 62%);
  --cyan001: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 0.9375rem;
}
