html {
  font-family: 'Barlow', sans-serif;
}

h1,
h2,
h3 {
  color: $secondary-hover;
  text-transform: uppercase;
  font-weight: 900;
}

h1 {
  font-size: $x-large;
  margin-bottom: $medium;
}

h2 {
  font-size: $large;
}

h3 {
  font-size: $medium-large;
}

p {
  color: $neutral;
  line-height: 1.5;
  font-weight: 500;
}

button {
  text-transform: uppercase;
  font-weight: 600;
}