$x-small: 0.25rem;
$small: 0.5rem;
$medium: 1rem;
$medium-large: 1.5rem;
$large: 2rem;
$x-large: 2.5rem;

// button variables
$btn: 1.375rem;
$border-radius: 0.5rem;

// image radius
$radius: 1.25rem;

// breakpoints
$tablet: 40.625rem;