.gallery {
  display: grid;
  gap: $medium-large;
  grid-template-columns: 1fr 2fr;
  padding-right: $medium-large;
  margin-bottom: $large;
}

.gallery__image {
  overflow: hidden;
  height: 15rem;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &--one {
    grid-column: 1 / 2;
    border-bottom-right-radius: $radius;
    border-top-right-radius: $radius;
    
    &::before{
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background-color: $primary;
      opacity: 0.8;
    }
  }

  &--two {
    grid-column: 2 / -1;
    border-radius: $radius;
  }
}

@media screen and (min-width: $tablet){
  .gallery {
    padding: 0 $large;

    &__image {
      height: 20rem;
      border-radius: $radius;
    }
  }
}

@media screen and (min-width: $desktop){
  .gallery {
    padding: 0;
    grid-template-columns: 8rem 1fr 2fr;
    grid-template-rows: repeat(2, 1fr);

    &__image {
      height: 20rem;
      border-radius: $radius;

      &--one {
        grid-column: 2 / 3;
        grid-row: 1 / -1;
      }

      &--two {
        grid-column: 3 / 5;
        grid-row: 1 / -1;
      }
    }

    .decoration {
      display: block;
      grid-column: 1 / 2;
      grid-row:  2 / 3;
      background-color: $secondary;
      border-bottom-right-radius: $radius;
      border-top-right-radius: $radius;
    }
  }
}

@media screen and (min-width: $desktop-max){
  .gallery {
    @include max-size;
    margin-bottom: $large;

    .decoration {
      border-radius: $radius;
    }
  }
}