.gallery {
  display: grid;
  gap: $medium-large;
  grid-template-columns: 1fr 2fr;
  padding-right: $medium-large;
  margin-bottom: $large;
}

.gallery__image {
  overflow: hidden;
  height: 15rem;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &--one {
    grid-column: 1 / 2;
    border-bottom-right-radius: $radius;
    border-top-right-radius: $radius;
    
    &::before{
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background-color: $primary;
      opacity: 0.8;
    }
  }

  &--two {
    grid-column: 2 / -1;
    border-radius: $radius;
  }
}

@media screen and (min-width: $tablet){
  .gallery {
    padding: 0 $large;

    &__image {
      height: 20rem;
      border-radius: $radius;
    }
  }
}