nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav,
.hero__text,
.hero__action {
  padding: $medium $medium-large;
}

.hero{
  &__action {
    display: flex;
    align-items: center;
    margin-bottom: $large;

    p {
      margin-left: $medium;
      font-weight: 600;
    }
  }

  &__image {
    margin-left: $medium-large;
    overflow: hidden;
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
    margin-bottom: $medium-large;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__decoration {
    display: none
  };
}

@media screen and (min-width: $tablet){
  nav{
    padding: $large;
  }
  .hero__text,
  .hero__action {
    padding: 0;
    padding-left: $large;
  }

  .hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr) 2rem;
    justify-content: center;

    &__group {
      grid-column: 1 / 2;
      grid-row: 1 / -1;
      align-self: center;
    }

    &__text {
      margin-bottom: $large;
    }

    &__action {
      margin-bottom: 0;
    }

    &__image {
      height: 26.5625rem;
      grid-row: 1 / -1;
    }
  }
}

@media screen and (min-width: $desktop) {
  .hero{ 
    grid-template-columns: repeat(2, 1fr) 8rem;
    gap: $medium-large;

    &__image {
      border-radius: $radius;
    }
    &__decoration {
      border-top-left-radius: $radius;
      border-bottom-left-radius: $radius;
      display: block;
      grid-column: 3 / 4;
      grid-row: 1;
      background-color: $secondary;
    }
  }
}

@media screen and (min-width: $desktop-max) {
  header {
    @include max-size;
  }

  nav {
    padding-left: 0;
    padding-right: 0;
  }
  
  .hero__decoration {
    border-radius: $radius;
  }
}