* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

img {
  display: block;
}

header {
  background-color: royalblue;
  width: 100%;
  height: 10vh;
}

section {
  padding: 1rem;
}

a {
  text-decoration: none;
  padding: 0.025rem;
}

.link--style {
  color: royalblue;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  background-size: 100% 10%;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease-out;
  background-position: bottom;
}

.link--style:hover {
  background-size: 100% 100%;
}

/* Styles for card */
.card {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11);
  /* height: 30rem; */
}

.card__preview {
  width: 100%;
  flex: 1;
  max-height: 25rem;
}

.card__preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.info__title {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}

.info__about {
  margin-bottom: 0.75rem;
}

.info__date {
  order: -1;
  font-size: 0.875rem;
  font-weight: bold;
  color: gray;
  margin-bottom: 0.5rem;
}

.cta {
  width: 100%;
  display: flex;
  align-items: center;
}

button {
  border: none;
  padding: 0.75rem 1.25rem;
  border-radius: 5px;
  font-weight: bold;
}

.cta--secondary {
  margin-right: 1rem;
  border: 2px solid #a1c4fd;
  background-color: transparent;
  cursor: pointer;
}

.cta--primary {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  cursor: pointer;
}

@media screen and (min-width: 580px) {
  .project {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .project__count {
    grid-column: span 2;
  }
  .card {
    margin-top: 0;
  }
  .card__preview {
    height: 13rem;
  }
  .card__info {
    height: calc(100% - 13rem);
  }

  .info__about {
    flex: 1;
  }
}

@media screen and (min-width: 980px) {
  .hero {
    max-width: 80rem;
    margin: 0 auto;
  }
  .project {
    grid-template-columns: repeat(3, 1fr);
    max-width: 80rem;
    margin: 0 auto;
  }
  .project__count {
    grid-column: span 3;
  }

  .card__preview {
    height: 18rem;
  }

  .card__info {
    height: calc(100% - 18rem);
  }
}
