// Colors
$primary: #f87070;
$themeTwo: #70f3f8;
$themeThree: #d881f8;
$text: #d7e0ff;
$textDark: #1e213f;
$input: #eff1fa;
$app: #161932;
$settings: #ffffff;
$settingsLine: #e3e1e1;

$small: 0.5rem;
$medium: 1rem;
$large: 1.5rem;
$x-large: 2rem;

html {
  font-size: 62.5%;
}

img {
  display: block;
}

li {
  list-style-type: none;
}
