.settings {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4);

  &__menu {
    display: block;
    width: 90%;
    max-width: 40rem;
    height: 85%;
    background-color: $settings;
    border-radius: 15px;
    animation: more-open 0.5s cubic-bezier(0.465, 0.183, 0.153, 0.946) both;

    h3 {
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      margin-bottom: 2rem;
    }
  }
}

.is-open {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__group {
  padding: 2rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $settingsLine;

  h2 {
    font-size: 3rem;
    font-weight: bold;
  }
}

.menu__close {
  margin-left: auto;
  transition: 0.15s ease-in transform;

  img {
    cursor: pointer;
    padding: 1rem;
    width: 2rem;
    height: 2rem;
    opacity: 0.5;
    transition: 0.15s ease-in opacity;
  }

  &:hover,
  &:hover img {
    transform: scale(1.05);
    opacity: 1;
  }
}

.menu__time,
.menu__font,
.menu__color {
  margin: 2rem;
  padding-bottom: 2rem;
}

.menu__time,
.menu__font {
  border-bottom: 1px solid $settingsLine;
}

.menu__time {
  .input__group {
    display: flex;
    flex-direction: column;
  }

  .input__name {
    font-weight: 700;
    font-size: 1.2rem;
    color: $textDark40;
    align-self: center;
  }

  .pomodoro,
  .short__break,
  .long__break {
    display: flex;
    margin-bottom: $large;

    input {
      font-size: 1.6rem;
      padding: 1.5rem;
      background-color: $input;
      border: none;
      border-radius: 10px;
      max-width: 60%;
      margin-left: auto;
      font-weight: bold;
    }
  }
}

.settings__group {
  @include flexCenter();

  .font--one{
    font-family: 'Kumbh Sans', sans-serif;
  }

  .font--two{
    font-family: 'Roboto Slab', serif;
  }

  .font--three{
    font-family: 'Space Mono', monospace;
  }

  
}

.btn {
  border: none;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  color: $textDark;

  &:not(:last-child) {
    margin-right: 2rem;
  }

  &--active {
    background-color: $app;
    color: $settings;
  }
}

.color {
  &--one {
    background-color: $primary;
  }
  &--two {
    background-color: $themeTwo;
  }
  &--three {
    background-color: $themeThree;
  }

  &--active {
    border: 3px solid red;
  }
}

.cta {
  position: absolute;
  bottom: -2.8rem;
  left: 50%;
  transform: translateX(-50%);
  width: 14rem;
  height: 5.3rem;
  border-radius: 26.5px;
  border: none;
  color: $settings;
  font-weight: 600;
  cursor: pointer;
}

@media screen and (min-width: 650px) {
  .settings__menu {
    max-width: 54rem;
    height: 49rem;
  }

  .menu__group {
    padding: 3rem;
  }

  .menu__time {
    .input__group {
      flex-direction: row;
      justify-content: space-between;
    }

    .input__name {
      font-weight: 700;
      font-size: 1.2rem;
      color: $textDark40;
      align-self: flex-start;
      margin-bottom: $medium;
    }

    .pomodoro,
    .short__break,
    .long__break {
      flex-direction: column;
      width: 14rem;
      margin-bottom: $large;

      input {
        max-width: 100%;
        margin-left: 0;
      }
    }
  }
  .menu__time,
  .menu__font,
  .menu__color {
    margin: 3rem;
  }

  .menu__font,
  .menu__color {
    display: flex;
    align-items: center;
    h3 {
      margin-bottom: 0;
    }

    .settings__group {
      margin-left: auto;
    }
  }
}

// Animamtion
@keyframes more-open {
  0% {
    transform: scaleX(0) translateY(10%);
  }
  100% {
    transform: scaleX(1) translateY(0);
  }
}