.app__options {
  margin: 3.2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: lowercase;
  padding: $small;

  .group__options {
    display: flex;
    text-align: center;
    background-color: $app;
    padding: $small;
    border-radius: 31.5px;
    margin: 0;

    button{
      cursor: pointer;
      width: 10.6rem;
      border-radius: 26.5px;
      align-self: center;
      display: block;
      color: $text40;
      text-decoration: none;
      transition: color 100ms ease, background-color 100ms ease;
      padding: $large 0;
      margin: $small;
      border-radius: 26.5px;
      font-weight: bold;
    }

    .btn--active {
      color: $textDark;
      background-color: $primary;
      align-self: center;
    }
  }
}

@media screen and (min-width: 650px) {
  .app__options {
    width: 40rem;
  }
}
