/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #1e213f;
  font-family: "Kumbh Sans", sans-serif;
}

img {
  display: block;
}

li {
  list-style-type: none;
}

.app {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.app__logo {
  margin-top: 3.2rem;
}

.app__settings {
  margin-top: auto;
  margin-bottom: 7rem;
  cursor: pointer;
  -webkit-transition: 0.15s ease-in transform, 0.15s ease-in opacity;
  transition: 0.15s ease-in transform, 0.15s ease-in opacity;
}

.app__settings:hover {
  opacity: 80%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.app__options {
  margin: 3.2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: lowercase;
}

.app__options ul {
  height: 5.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  background-color: #161932;
  padding: 0.5rem;
  border-radius: 31.5px;
  margin: 0;
}

.app__options ul li {
  width: 10.6rem;
  border-radius: 26.5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.app__options ul a {
  pointer-events: none;
  display: block;
  color: rgba(215, 224, 255, 0.4);
  text-decoration: none;
  -webkit-transition: color 100ms ease, background-color 100ms ease;
  transition: color 100ms ease, background-color 100ms ease;
  padding: 1.5rem 0;
  margin: 0.5rem;
  border-radius: 26.5px;
}

.app__options ul input[type="radio"] {
  display: none;
}

.app__options ul input[type="radio"]:checked + a {
  background-color: #f87070;
  color: #1e213f;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (min-width: 650px) {
  .app__options {
    width: 40rem;
  }
  .app__options ul {
    width: 100%;
  }
  .app__options li {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.app__screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 0;
  background: linear-gradient(-60deg, #2e325a, #0e112a);
  border-radius: 50%;
  width: 31rem;
  height: 31rem;
  background-color: #161932;
}

.app__container {
  border: 1rem solid #161932;
  border-radius: 50%;
}

.app__timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1rem solid #f87070;
  border-radius: 50%;
  width: 24rem;
  height: 24rem;
  color: #d7e0ff;
  background-color: #161932;
  margin: 0 auto;
}

.app__timer h1 {
  font-size: 7.5rem;
  margin: 1rem 0;
  font-weight: bold;
}

.app__timer p {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1.6rem;
}

@media screen and (min-width: 650px) {
  .app__screen {
    width: 41rem;
    height: 41rem;
  }
  .app__container {
    border: 1.5rem solid #161932;
  }
  .app__timer {
    width: 33rem;
    height: 33rem;
  }
  .app__timer h1 {
    font-size: 10rem;
  }
  .app__timer p {
    font-size: 2rem;
  }
}

.settings {
  position: fixed;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4);
}

.settings__menu {
  display: block;
  width: 90%;
  max-width: 40rem;
  height: 85%;
  background-color: #ffffff;
  border-radius: 15px;
  -webkit-animation: more-open 0.5s cubic-bezier(0.465, 0.183, 0.153, 0.946) both;
          animation: more-open 0.5s cubic-bezier(0.465, 0.183, 0.153, 0.946) both;
}

.settings__menu h3 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 2rem;
}

.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__group {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e3e1e1;
}

.menu__group h2 {
  font-size: 3rem;
  font-weight: bold;
}

.menu__close {
  margin-left: auto;
  -webkit-transition: 0.15s ease-in transform;
  transition: 0.15s ease-in transform;
}

.menu__close img {
  cursor: pointer;
  padding: 1rem;
  width: 2rem;
  height: 2rem;
  opacity: 0.5;
  -webkit-transition: 0.15s ease-in opacity;
  transition: 0.15s ease-in opacity;
}

.menu__close:hover,
.menu__close:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  opacity: 1;
}

.menu__time,
.menu__font,
.menu__color {
  margin: 2rem;
  padding-bottom: 2rem;
}

.menu__time,
.menu__font {
  border-bottom: 1px solid #e3e1e1;
}

.menu__time .input__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__time .input__name {
  font-weight: 700;
  font-size: 1.2rem;
  color: rgba(30, 33, 63, 0.55);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.menu__time .pomodoro,
.menu__time .short__break,
.menu__time .long__break {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.5rem;
}

.menu__time .pomodoro input,
.menu__time .short__break input,
.menu__time .long__break input {
  padding: 1.5rem;
  background-color: #eff1fa;
  border: none;
  border-radius: 10px;
  max-width: 60%;
  margin-left: auto;
  font-weight: bold;
}

.color__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.color {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #eff1fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  color: rgba(30, 33, 63, 0.55);
}

.color:not(:last-child) {
  margin-right: 2rem;
}

.color--one {
  background-color: #f87070;
}

.color--two {
  background-color: #70f3f8;
}

.color--three {
  background-color: #d881f8;
}

.cta {
  position: absolute;
  bottom: -2.8rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 14rem;
  height: 5.3rem;
  border-radius: 26.5px;
  border: none;
  background-color: #f87070;
  color: #ffffff;
  font-weight: 600;
}

@media screen and (min-width: 650px) {
  .settings__menu {
    max-width: 54rem;
    height: 49rem;
  }
  .menu__group {
    padding: 3rem;
  }
  .menu__time .input__group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu__time .input__name {
    font-weight: 700;
    font-size: 1.2rem;
    color: rgba(30, 33, 63, 0.55);
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-bottom: 1rem;
  }
  .menu__time .pomodoro,
  .menu__time .short__break,
  .menu__time .long__break {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 14rem;
    margin-bottom: 1.5rem;
  }
  .menu__time .pomodoro input,
  .menu__time .short__break input,
  .menu__time .long__break input {
    max-width: 100%;
    margin-left: 0;
  }
  .menu__time,
  .menu__font,
  .menu__color {
    margin: 3rem;
  }
  .menu__font,
  .menu__color {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__font h3,
  .menu__color h3 {
    margin-bottom: 0;
  }
  .menu__font .color__group,
  .menu__color .color__group {
    margin-left: auto;
  }
}

@-webkit-keyframes more-open {
  0% {
    -webkit-transform: scaleX(0) translateY(10%);
            transform: scaleX(0) translateY(10%);
  }
  100% {
    -webkit-transform: scaleX(1) translateY(0);
            transform: scaleX(1) translateY(0);
  }
}

@keyframes more-open {
  0% {
    -webkit-transform: scaleX(0) translateY(10%);
            transform: scaleX(0) translateY(10%);
  }
  100% {
    -webkit-transform: scaleX(1) translateY(0);
            transform: scaleX(1) translateY(0);
  }
}
/*# sourceMappingURL=main.css.map */