@import "reset";
@import "config";
@import "mixins";

.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &__logo {
    margin-top: 3.2rem;
  }

  &__settings {
    margin-top: auto;
    margin-bottom: 7rem;
    cursor: pointer;
    transition: 0.15s ease-in transform, 0.15s ease-in opacity;

    &:hover {
      opacity: 80%;
      transform: rotate(45deg);
    }
  }
}

@import "timeroption";
@import "timer";
@import "settings";
