footer {
  background-color: $dark;
}

.footer__group{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  .logo {
    margin: $lg 0;
  }

  &__menu {
    text-align: center;
    margin-bottom: $lg;

    li {
      margin-bottom: $m;
    }

    a {
      color: $light;
    }
  }

  .social {
    display: flex;
    align-items: center;
    margin-bottom: $m;

    img:not(:last-child) {
      margin-right: $m;
    }
  }
}

.copyright {
  color: $light;
  opacity: 50%;
  margin-bottom: $lg;
}


@media screen and (min-width: $medium) {
  .footer__group {
    display: grid;
    gap: 2rem;
    align-items: end;
    padding: $lg;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "logo social"
    "menu copy";

    .logo{
      grid-area: logo;
    }

    .footer__menu {
      grid-area: menu;
      display: flex;

      li {
        margin-bottom: 0;
      }
      
      li:not(:last-child) {
        margin-right: $m;      
      }
    }

    .social{
      grid-area: social;
      display: flex;
    }

    .copyright {
      grid-area: copy;
    }

    .social,
    .copyright {
      justify-self: end;
    }

    .logo,
    &__menu,
    .social,
    .copyright {
      margin: 0;
    }
  }
}