.header__group{
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  height: 100vh;
  margin-bottom: 3rem;
  background-image: url(../assets/images/mobile/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  h1 {
    margin: auto 0;
    font-size: 2.8rem;
    border: 3px solid $light;
    overflow: hidden;
    padding: $m;
    max-width: 22rem;
    color: $light;
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  cursor: pointer;

  &__list {
    display: none;
    position: relative;
    animation: menuOpen 0.5s cubic-bezier(0.465, 0.183, 0.153, 0.946) normal;
    justify-content: center;
    a {
      color: $light;
    }

    li:not(:last-child){
      margin-bottom: $m;
    }
  }

  &--close{
    display: none;
  }
}

.is-open {
  display: flex;
  flex-direction: column;
  justify-items: center;
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $dark;

  a {
    text-transform: uppercase;
    font-size: 1.5rem;
    padding-left: $m;
  }
}

.menu-open{
  display: block;
  position: absolute;
  content: "";
  top: $lg;
  right: $m;
}


@keyframes menuOpen {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and (min-width: $small) {
  header{
    height: 34.375rem;
    background-image: url(../assets/images/desktop/image-hero.jpg);

    .menu {
      display: none;

      &__list {
        display: flex;

        & li {
          position: relative;
        }

        :not(:last-child){
          margin-right: $lg;
        }

        & a:hover::after {
          position: absolute;
          content: "";
          bottom: -0.5rem;
          left: 50%;
          transform: translateX(-50%);
          width: 2rem;
          height: 2px;
          background-color: $light;
        }
      }
    }

    h1 {
      font-size: 4rem;
      max-width: 35rem;
    }
  }
}

@media screen and (min-width: $medium) {
  header{
    height: 40.625rem;
  }
}