@import "header";
@import "about";
@import "creation";
@import "footer";

header,
.about,
.creations, 
footer {
  padding: $lg $m;
}


@media screen and (min-width: $medium) {
  .header__group,
  .about,
  .creations,
  footer {
    padding: $xl;
  }
}

@media screen and (min-width: $large){
  .header__group,
  .about,
  .creations,
  .footer__group{
    max-width: $section-size;
    margin: 0 auto;
  }
}