* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --strong-cyan: hsl(171, 66%, 44%);
  --light-blue: hsl(233, 100%, 69%);
  --dark-blue: hsl(210, 10%, 33%);
  --light-gray: hsl(201, 11%, 66%);
}

body {
  font-family: "Bai Jamjuree", sans-serif;
}
