* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Primary colors*/
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);

  /* Accent colors*/
  --blue: hsl(248, 32%, 49%);

  /* Neutral colors */
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
}

body {
  font-family: "Poppins", sans-serif;
}
