* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $paleBlue;
}

button {
  border: none;
}

img {
  display: block;
}