.btn {
  border: none;
  border-radius: 25px;
  padding: 1rem 2rem;
  text-transform: capitalize;

  &--one {
    color: $card01;
  }
  &--two {
    color: $card02;
  }
  &--three {
    color: $card03;
  }
}
