$sm: 0.5rem;
$m: 1rem;
$ml: 1.5rem;
$lg: 2rem;
$xl: 2.5rem;

// content max-width
$content-size: 35rem;

// section max-width
$section-size: 75rem;

// breakpoints
$small: 40.625rem; 
$medium: 50rem;
$large: 67.5rem;