* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark001: #000000;
  --dark002: #303030;
  --hover: #999999;
  --text-color: #ffffff;

  --space: 3rem 2rem;
  --more-text: 1.8rem;
  --time: 10rem;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

body {
  position: relative;
}

img {
  display: block;
}

button {
  background-color: transparent;
  border: none;
}

.screen {
  min-height: 100vh;
  background-image: url(../assets/mobile/bg-image-daytime.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  padding: var(--space);
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* quote styles */
.quote {
  color: var(--text-color);
  max-width: 60ch;
  font-size: 1.4rem;
  display: flex;
}

.quote__text {
  margin-bottom: 1rem;
  line-height: 2.8rem;
}

.quote__author {
  font-weight: 700;
}

.quote__refresh {
  align-self: flex-start;
  padding-top: 0.5rem;
  margin-left: 1rem;
}

/* time styles */
.time {
  color: var(--text-color);
}

.time__message {
  display: flex;
}

.time__message img {
  margin-right: 1rem;
}

.time__message p {
  font-weight: 300;
  font-size: 1.4rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.time__current {
  font-size: var(--time);
}

.time__zone {
  font-size: 1.4rem;
  font-weight: 300;
}

.time__location {
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.cta {
  margin-top: 5rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  color: var(--dark002);
  align-items: center;
  background-color: var(--text-color);
  width: 11.5rem;
  height: 3.9rem;
  padding: 0 0.5rem 0 2rem;
  border-radius: 20px;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 200ms ease color;
}

.cta img {
  height: 3.2rem;
  width: 3.2rem;
}

/* More section */
.more {
  width: 100%;
  display: none;
  min-height: 40vh;
  padding: 4rem 2rem;
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 2555, 255, 90%);
}

.more__left,
.more__right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.more__title {
  font-size: 1.2rem;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 2rem;
  letter-spacing: 1.5px;
}

.more__info {
  display: block;
  margin-left: auto;
  font-weight: 700;
  color: var(--dark002);
  font-size: var(--more-text);
}

/* aditional classes */
.open {
  padding-top: 10rem;
  max-height: 60vh;
}

.is-open {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hidden {
  display: none;
}

/* Tablet view */
@media screen and (min-width: 768px) {
  :root {
    --space: 5rem 3rem;
    --more-text: 3.8rem;
    --time: 15rem;
  }

  .screen {
    background-image: url(../assets/tablet/bg-image-daytime.jpg);
  }

  .time__message p::after {
    content: ", It's currently";
  }

  /* more section */
  .is-open {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content;
    place-items: center;
    place-content: center;
  }

  .more__left,
  .more__right {
    grid-template-columns: 1fr;
  }

  .more__title {
    margin-bottom: 0.5rem;
  }

  .more__info {
    margin: 0;
    margin-bottom: 5rem;
  }
}

@media screen and (min-width: 1080px) {
  :root {
    --space: 5rem 10rem;
    --more-text: 5.2rem;
    --time: 20rem;
  }

  .screen {
    background-image: url(../assets/desktop/bg-image-daytime.jpg);
  }

  .time__location {
    margin-bottom: 3rem;
  }

  .time {
    position: relative;
  }

  .cta {
    right: 0;
    bottom: 0;
    position: absolute;
  }

  .open {
    padding-top: 8rem;
    max-height: 50vh;
  }

  .is-open {
    height: 50vh;
  }
}

@media (hover: hover) {
  .quote__refresh:hover {
    cursor: pointer;
  }

  .cta:hover {
    cursor: pointer;
    color: var(--hover);
  }
}
