* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --space: 3rem 2rem;
  --more-text: 1.8rem;
  --time-zone: 1.4rem;
  --time: 10rem;
  font-size: 62.5%;

  --decoration: #979797;
}

html {
  --dark001: #000000;
  --dark002: #303030;
  --hover: #999999;
  --text-color: #ffffff;

  --more-text-color: #303030;
  --more-bg: rgba(255, 255, 255, 85%);
}

html[data-theme="dark"] {
  --more-text-color: #fff;
  --more-bg: rgba(0, 0, 0, 85%);
}

body {
  font-family: "Inter", serif;
  position: relative;
}

img {
  display: block;
}

button {
  background-color: transparent;
  border: none;
}

.screen {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  padding: var(--space);
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6); /* Black see-through */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* quote styles */
.quote {
  color: var(--text-color);
  max-width: 60ch;
  font-size: 1.6rem;
  display: flex;
  width: 100%;
}

.quote__text {
  margin-bottom: 1rem;
  line-height: 2.8rem;
  max-width: 60ch;
}

.quote__author {
  font-weight: 700;
}

.quote__refresh {
  align-self: flex-start;
  padding-top: 0.5rem;
  margin-left: auto;
}

.quote__refresh img {
  transition: 200ms ease opacity;
  opacity: 0.6;
}

/* time styles */
.time {
  color: var(--text-color);
}

.time__message {
  display: flex;
  align-items: center;
}

.time__message img {
  margin-right: 1rem;
}

.time__message p {
  font-weight: 300;
  font-size: 1.6rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.time__current {
  font-size: var(--time);
}

.time__location {
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.cta {
  margin-top: 5rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--text-color);
  width: 11.5rem;
  height: 3.9rem;
  padding: 0 0.5rem 0 2rem;
  border-radius: 20px;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
}

.cta p {
  color: var(--dark002);
  transition: 200ms ease color;
}

.rotate {
  transform: rotate(180deg);
}

.cta img {
  transition: 200ms ease opacity;
  height: 3.2rem;
  width: 3.2rem;
}

/* More section */
.more {
  width: 100%;
  display: none;
  min-height: 40vh;
  padding: 4rem 2rem;
  position: absolute;
  bottom: 0;
  background-color: var(--more-bg);
}

.more__left,
.more__right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.more__title {
  font-size: 1.2rem;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 2rem;
  letter-spacing: 1.5px;
  color: var(--more-text-color);
}

.more__info {
  display: block;
  margin-left: auto;
  font-weight: 700;
  color: var(--more-text-color);
  font-size: var(--more-text);
}

/* aditional classes */
.open {
  padding-top: 10rem;
}

.is-open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: more-open 0.6s cubic-bezier(0.465, 0.183, 0.153, 0.946) both;
}

.hidden {
  display: none;
}

@keyframes more-open {
  0% {
    transform: scaleY(0);
    transform-origin: 0% 100%;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 0% 100%;
  }
}

/* Tablet view */
@media screen and (min-width: 768px) {
  :root {
    --space: 5rem 3rem;
    --more-text: 3.8rem;
    --time-zone: 2.2rem;
    --time: 15rem;
  }

  .quote__text {
    font-size: 1.8rem;
    max-width: 51ch;
  }

  .time__message {
    font-size: 1.8rem;
  }

  .time__message p::after {
    content: ", It's currently";
  }

  /* more section */
  .is-open {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content;
    place-items: center;
    place-content: center;
  }

  .more__left,
  .more__right {
    grid-template-columns: 1fr;
  }

  .more__title {
    margin-bottom: 0.5rem;
  }

  .more__info {
    margin: 0;
    margin-bottom: 5rem;
  }
}

@media screen and (min-width: 1080px) {
  :root {
    --space: 5rem 10rem;
    --more-text: 5.2rem;
    --time-zone: 3rem;
    --time: 20rem;
  }

  .time__location {
    margin-bottom: 3rem;
  }

  .time {
    position: relative;
  }

  .cta {
    right: 0;
    bottom: 0;
    position: absolute;
  }

  .open {
    padding-top: 8rem;
  }

  .is-open {
    height: 50vh;
  }

  .more__left {
    position: relative;
  }

  .more::after {
    content: "";
    position: absolute;
    height: 55%;
    width: 1px;
    left: 50%;
    background-color: var(--decoration);
  }
}

@media (hover: hover) {
  .quote__refresh:hover {
    cursor: pointer;
  }
  .quote__refresh:hover img {
    opacity: 1;
  }

  .cta:hover p {
    color: var(--hover);
  }
  .cta:hover img {
    opacity: 70%;
  }
}
