* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary001: hsl(180, 66%, 49%);
  --primary-hover: hsl(180, 66%, 60%);
  --primary002: hsl(257, 27%, 26%);
  --secondary: hsl(0, 87%, 67%);
  --light001: hsl(0, 0%, 100%);
  --light002: hsl(0, 0%, 96%);
  --gray001: hsl(0, 0%, 75%);
  --gray002: hsl(257, 7%, 63%);
  --dark001: hsl(255, 11%, 22%);
  --dark002: hsl(260, 8%, 14%);
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  /* background-color: var(--light002); */
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.logo {
  cursor: pointer;
  margin-bottom: 0;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem 1rem 1rem;
}

.menu {
  margin-left: auto;
  position: relative;
  height: 2rem;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
}

.menu__line {
  width: 1.25rem;
  height: 0.125rem;
  background-color: var(--gray002);
  transition: 0.2s ease-out all;
  display: flex;
}

.menu__line::before,
.menu__line::after {
  content: "";
  position: absolute;
  width: 1.25rem;
  height: 0.125rem;
  background-color: var(--gray002);
  transition: 0.2s ease-out all;
}

.menu__line::before {
  top: 0.5rem;
}

.menu__line::after {
  bottom: 0.5rem;
}

.menu__line--open {
  background-color: var(--light001);
}

.menu__line--open::before {
  transform: rotate(-45deg) translateX(-0.15rem);
  margin-top: 0.3rem;
}

.menu__line--open::after {
  transform: rotate(45deg) translateX(-0.15rem);
  margin-bottom: 0.3rem;
}

.list {
  display: none;
  position: absolute;
  top: 6rem;
  left: 50%;
  transform: translateX(-50%);
  height: 20rem;
  width: 90%;
  margin: 0 auto;
  background-color: var(--primary002);
  border-radius: 7px;
  z-index: 10;
  padding: 0 2rem;
}

.is-open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: menuOpen 0.3s forwards;
}

.list__item {
  text-align: center;
  padding: 0.75rem 0;
  opacity: 0;
  letter-spacing: 1px;
}

.list__link {
  font-weight: 700;
  font-size: 1.1rem;
  color: var(--light001);
  margin-bottom: 2rem;
}

.list__item:first-child {
  animation: menuOpen 0.2s 0.2s forwards;
}

.list__item:nth-child(2) {
  animation: menuOpen 0.2s 0.4s forwards;
}

.list__item:nth-child(3) {
  animation: menuOpen 0.2s 0.6s forwards;
}

.list__item:nth-child(4) {
  animation: menuOpen 0.2s 0.8s forwards;
}
.list__item:nth-child(5) {
  animation: menuOpen 0.2s 1s forwards;
}

.item--cta {
  border-top: 1px solid var(--gray002);
}

.list__item:last-child {
  border-radius: 20px;
  background-color: var(--primary001);
}

header {
  margin-bottom: 7rem;
}

.container {
  overflow: hidden;
  padding: 1rem;
  text-align: center;
  max-width: 30rem;
  margin: 0 auto;
}

.container img {
  width: 130%;
  max-height: 30rem;
  transform: translateX(1rem);
  margin-bottom: 2rem;
}

.container__title {
  font-size: 2.5rem;
}

.container__title,
.about__title,
.card__title {
  font-weight: 700;
  color: var(--dark001);
  line-height: 1.2;
  margin-bottom: 1rem;
  text-align: center;
}

.container__text,
.about__text,
.card__text {
  color: var(--gray002);
  width: 85%;
  margin: 0 auto;
  margin-bottom: 1.25rem;
  text-align: center;
}

.btn {
  border: none;
  background-color: var(--primary001);
  font-weight: 700;
  color: var(--light001);
  font-size: 1.25rem;
}

.cta__btn {
  border-radius: 20px;
  padding: 1rem 2.5rem;
}

.generate,
.about {
  padding: 1rem;
  padding-bottom: 4rem;
  background-color: var(--light002);
}

form {
  padding: 1.5rem 1rem;
  background-image: url(../images/bg-shorten-mobile.svg);
  background-repeat: no-repeat;
  background-color: var(--primary002);
  background-position: top right;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  margin-bottom: 1rem;
  transform: translateY(-4rem);
  max-width: 40rem;
  margin: 0 auto;
}

.group {
  width: 100%;
  margin-bottom: 1rem;
}

.group--error {
  margin-bottom: 3rem;
}

.loading {
  cursor: progress;
  background-color: var(--gray002);
}

.loading:hover {
  cursor: progress;
  background-color: var(--gray002);
}

.form__input {
  font-size: 1rem;
  width: 100%;
  padding: 1rem 0.5rem;
  border-radius: 7px;
  border: none;
  position: relative;
}

.form__label {
  position: absolute;
  display: none;
  font-size: 0.875rem;
  color: var(--secondary);
}

.form__input::placeholder {
  font-weight: 700;
  color: var(--gray001);
  font-size: 1rem;
}

.short__btn {
  padding: 0.75rem 0.5rem;
  width: 100%;
  border-radius: 7px;
}

.link__section {
  background-color: var(--light001);
  border-radius: 7px;
  padding: 1rem;
  margin-bottom: 1rem;
  max-width: 40rem;
  margin: 0 auto 2rem auto;
}

.link__section:last-child {
  margin-bottom: 0;
}
.link__original {
  border-bottom: 1px solid var(--gray002);
  width: 100%;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.link__original a {
  color: var(--dark002);
  word-wrap: break-word;
}

.link__short {
  margin-bottom: 1rem;
}

.link__short a {
  color: var(--primary001);
}

.short__btn--active {
  background-color: var(--primary002);
}

.about__title {
  font-size: 1.75rem;
}

.about__text {
  margin-bottom: 5rem;
}

.about__card {
  background-color: var(--light001);
  border-radius: 5px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: 40rem;
  margin: 0 auto 5rem auto;
}

.about__card:last-child {
  margin-bottom: 0;
}

.about__card:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: -3rem;
  background-color: var(--primary001);
  width: 0.5rem;
  height: 3rem;
}

.card__mask {
  background-color: var(--primary002);
  padding: 1.5rem;
  border-radius: 50%;
  transform: translateY(-2.5rem);
}

.card__text {
  width: 80%;
  padding-bottom: 1rem;
}

footer {
  text-align: center;
  background-color: var(--dark001);
  padding-bottom: 3rem;
}

.footer__group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary002);
  height: 17rem;
  background-image: url(../images/bg-boost-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__group h2 {
  color: var(--light001);
  margin-bottom: 1rem;
}

.list__primary {
  color: var(--light001);
  margin-bottom: 1rem;
  font-weight: 700;
}

.footer__link {
  color: var(--gray001);
}

footer ul {
  padding-bottom: 2rem;
}

.footer__logo {
  padding: 3rem 0;
}

.footer__logo img {
  margin: 0 auto;
}

.social {
  padding-bottom: 1rem;
}

.social svg {
  fill: var(--light001);
  margin-right: 1rem;
}

@media screen and (min-width: 460px) {
  .container img {
    width: 100%;
    transform: translateX(1rem);
  }
}

@media screen and (min-width: 820px) {
  /* Override styles for mobile menu */
  .is-open {
    flex-direction: row;
    /* justify-content: center; */
    animation: none;
  }
  nav {
    display: flex;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }

  .menu {
    display: none;
  }

  .list {
    transform: translateX(0);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0;
    top: 0;
    height: auto;
    padding: 0;
    background-color: var(--light001);
  }

  .logo {
    margin-right: 3rem;
  }

  .item--cta {
    border-top: none;
    margin-left: auto;
  }

  .list__item:first-child,
  .list__item:nth-child(2),
  .list__item:nth-child(3),
  .list__item:nth-child(4),
  .list__item:nth-child(5) {
    animation: menuOpen 0s forwards;
  }

  .list__item:not(:last-child) {
    margin-right: 1rem;
  }

  .list__link {
    font-weight: 500;
    font-size: 1rem;
    color: var(--gray002);
  }

  .list__link--cta {
    padding: 0.5rem 1.5rem;
    color: var(--light001);
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 2rem;
  }

  .container__image {
    order: 1;
  }

  .container__group {
    text-align: left;
  }

  .container__title {
    font-size: 3.5rem;
  }

  .container__text {
    margin: 0 0 1.5rem 0;
  }

  .container__title,
  .container__text {
    text-align: left;
  }

  .generate {
    padding: 0 2rem;
  }

  form {
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    padding: 3rem;
    background-image: url(../images/bg-shorten-desktop.svg);
    background-size: cover;
  }

  .group {
    width: 79%;
    margin-bottom: 0;
  }

  .group--error {
    margin-bottom: 0;
  }
  .form__input {
    width: 98%;
    margin-bottom: 0;
    margin-right: auto;
  }

  .link__short {
    margin-left: auto;
  }

  .short__btn {
    width: 20%;
    padding: 0.75rem 1.25rem;
  }

  .link__section {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto 1rem auto;
  }

  .link__original {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
    word-wrap: break-word;
    width: 60%;
  }

  .link__original a {
    width: 90%;
  }

  .link__short {
    margin-right: 1rem;
    margin-bottom: 0;
  }

  .about {
    padding: 5rem 1rem 10rem 1rem;
  }

  .about__title {
    font-size: 2.25rem;
  }

  .about__text {
    width: 32%;
  }

  .about__group {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
  }

  .about__card {
    margin: 0;
    align-items: flex-start;
    padding: 1rem 2rem;
  }

  .about__card:nth-child(2) {
    transform: translateY(3rem);
  }

  .about__card:nth-child(3) {
    transform: translateY(6rem);
  }

  .card__text {
    width: 100%;
    text-align: start;
    margin: 0;
    padding: 0;
  }
  .about__card:not(:last-child) {
    margin-right: 2rem;
  }

  .about__card:not(:last-child)::after {
    top: 50%;
    right: -1.25rem;
    height: 2rem;
    transform: rotate(90deg);
  }

  .footer__group {
    background-image: url(../images/bg-boost-desktop.svg);
  }
  .footer__group h2 {
    font-size: 2rem;
  }

  .footer__logo {
    padding: 0;
  }

  .footer__list {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 5rem 1rem;
  }

  .footer__list ul {
    padding: 0;
    text-align: left;
  }

  .footer__list ul:not(:last-child) {
    margin-right: 4rem;
  }

  .footer__list ul:nth-child(2) {
    margin-left: auto;
  }

  .footer__list ul:nth-child(4) {
    margin-right: auto;
  }
}

/* Hover states */
@media (hover: hover) {
  .logo:hover,
  .footer__logo {
    cursor: pointer;
  }

  .list__link:hover {
    color: var(--dark001);
  }

  .list__link--cta:hover {
    cursor: pointer;
    color: var(--light001);
    background-color: var(--primary-hover);
    border-radius: 20px;
    padding: 0.75rem 1.5rem;
  }

  .short__btn--active:hover {
    background-color: var(--primary002);
    opacity: 80%;
  }
  button:hover {
    cursor: pointer;
    background-color: var(--primary-hover);
  }
  .footer__link:hover {
    color: var(--primary001);
  }

  .social svg:hover {
    cursor: pointer;
    fill: var(--primary001);
  }
}

/* Error */
.error {
  border: 2px solid var(--secondary);
}

/* Animation */
@keyframes menuOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
