* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);

  --background-blue: hsl(212, 23%, 93%);
}

body {
  font-family: "Manrope", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-blue);
}

article {
  margin: 0 1rem;
  background-color: #fff;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
}

.article__hero {
  height: 13rem;
  width: 100%;
  overflow: hidden;
}

.article__hero img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}

.article__details,
.author__details {
  padding: 1rem 2rem;
}

.article__details {
  padding-top: 2rem;
}

.article__header {
  color: var(--very-dark-grayish-blue);
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.article__description {
  color: var(--desaturated-dark-blue);
  font-size: 0.875rem;
}

.author__details {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.5rem;
}

.author__picture {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
}

.author__picture img {
  width: 100%;
  border-radius: 50%;
}

.author__name {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--very-dark-grayish-blue);
}

.article__date {
  font-size: 0.75rem;
  color: var(--desaturated-dark-blue);
}

.article__share {
  cursor: pointer;
  display: flex;
  padding: 0.5rem;
  border-radius: 50%;
  margin-left: auto;
  background-color: var(--grayish-blue);
}

/* Share section */
.wrapper {
  position: relative;
}

.share {
  z-index: -10;
  position: absolute;
  top: 0;
  padding: 0 2rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: var(--very-dark-grayish-blue);
  width: 100%;
  height: 4.5rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 0.5s ease-out opacity;
  opacity: 0;
}

.share p {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: var(--background-blue);
  font-weight: 400;
  letter-spacing: 0.2rem;
  margin-right: 1.25rem;
}

.share__social {
  display: flex;
}

.share__social img {
  margin-right: 1.25rem;
}
.share__social img:last-child {
  margin-right: 0;
}

.attribution {
  margin-top: 2rem;
  text-align: center;
  font-size: 12px;
}
@media screen and (min-width: 700px) {
  article {
    margin: 0;
    flex-direction: row;
    max-width: 700px;
  }
  .article__hero {
    height: 16.5rem;
  }
  .article__hero img {
    width: auto;
    height: 100%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
  }

  .share--dark {
    position: absolute;
    bottom: -3.2rem;
    right: 6rem;
  }

  .share--desktop {
    position: absolute;
    top: -3rem;
    right: -4rem;
    background-color: var(--very-dark-grayish-blue);

    height: 3rem;
    width: auto;
    padding: 0 2rem;
    border-radius: 10px;

    display: flex;
    align-items: center;
  }

  .share--desktop::after {
    content: "";
    border-top: 10px solid var(--very-dark-grayish-blue);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    left: 50%;
    bottom: -10px;
  }
}
