* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Colors */
  --dark001: hsl(270, 9%, 17%);
  --dark002: hsl(256, 26%, 20%);
  --gray001: hsl(216, 30%, 68%);
  --gray002: hsl(273, 4%, 51%);
  --light001: hsl(0, 0%, 98%);
  --light002: hsl(0, 0%, 100%);

  /* Spacing */
  --xx-small: 0.15rem;
  --x-small: 0.25rem;
  --small: 0.5rem;
  --medium: 1rem;
  --large: 2rem;
  --x-large: 3rem;
}

img {
  display: block;
}

body {
  min-height: 100vh;
  font-family: "Karla", sans-serif;
  position: relative;
  scroll-behavior: smooth;
  background-color: var(--light002);
}

.open {
  height: 100vh;
  overflow-y: hidden;
  position: fixed;
}

h1,
h2 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
}

nav {
  display: flex;
  align-items: center;
  padding: var(--large) var(--medium);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.menu {
  margin-left: auto;
  position: relative;
  height: var(--large);
  display: flex;
  align-items: center;
  border: 2px solid var(--dark001);
  padding: var(--x-small);
}

.menu__line {
  width: 1.25rem;
  height: 0.125rem;
  background-color: var(--dark001);
  transition: 0.2s ease-out all;
  display: flex;
}

.menu__line::before,
.menu__line::after {
  content: "";
  position: absolute;
  width: 1.25rem;
  height: 0.125rem;
  background-color: var(--dark001);
  transition: 0.2s ease-out all;
}

.menu__line::before {
  top: var(--small);
}

.menu__line::after {
  bottom: var(--small);
}

.menu__line--open {
  background-color: var(--light001);
}

.menu__line--open::before {
  transform: rotate(-45deg) translateX(-0.15rem);
  margin-top: var(--x-small);
  margin-left: var(--xx-small);
}

.menu__line--open::after {
  transform: rotate(45deg) translateX(-0.15rem);
  margin-bottom: 0.2rem;
  margin-left: var(--xx-small);
}

.list {
  display: none;
  position: absolute;
  top: 6rem;
  left: 0;
  height: calc(100vh - 6rem);
  width: 100%;
  background-color: var(--dark001);
  background-image: url(../images/bg-pattern-mobile-nav.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.is-open {
  display: block;
  animation: menuOpen 0.3s forwards;
}

.list__item {
  list-style-type: none;
  text-align: center;
  margin: var(--medium);
  padding: var(--small) 0;
  opacity: 0;
}

.list__item:first-child {
  padding-top: var(--large);
  animation: menuOpen 0.3s 0.3s forwards;
}

.list__item:nth-child(2) {
  animation: menuOpen 0.3s 0.5s forwards;
}

.list__item:nth-child(3) {
  animation: menuOpen 0.3s 0.7s forwards;
}

.list__item:nth-child(4) {
  animation: menuOpen 0.3s 0.9s forwards;
}

.list__item:last-child {
  border: 2px solid var(--light001);
}

.list__link {
  font-weight: 700;
  font-size: 1.25rem;
  padding: var(--medium);
  color: var(--light001);
  margin-bottom: var(--large);
  text-transform: uppercase;
}

.hero {
  width: 100%;
  max-height: 40rem;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: 100%;
}

.intro {
  background-color: var(--dark002);
  background-image: url(../images/bg-pattern-intro-left-mobile.svg),
    url(../images/bg-pattern-intro-right-mobile.svg);
  background-repeat: no-repeat;
  background-position: top left, bottom -11rem right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30rem;
  color: var(--light001);
  text-align: center;
  padding: 0 var(--large);
}

.intro__line {
  display: none;
}

.intro__title {
  font-size: 2.5rem;
  letter-spacing: 2px;
  margin-bottom: var(--medium);
  line-height: 1.2;
}

.intro__text {
  line-height: 1.5;
  margin-bottom: var(--large);
}

.btn__cta {
  border: 2px solid var(--light001);
  background-color: transparent;
  color: var(--light001);
  padding: 0.75rem var(--large);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75rem;
  font-weight: 700;
}

.about {
  display: flex;
  flex-direction: column;
  background-image: url(../images/bg-pattern-intro-right-mobile.svg);
  background-repeat: no-repeat;
  background-position: top -9.5rem right;
}

.about__group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__line {
  margin-top: 5rem;
  margin-bottom: var(--large);
  width: 8rem;
  height: 2px;
  background-color: var(--gray001);
}

.about__title {
  font-size: 2.5rem;
  color: var(--dark001);
  margin-bottom: var(--large);
}

.group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: var(--x-large);
  padding: 0 var(--large);
  max-width: 24.3rem;
}

.card img {
  margin-bottom: var(--medium);
}

.card__title {
  color: var(--dark001);
  margin-bottom: var(--medium);
}

.card__text {
  color: var(--gray002);
}

.card--primary {
  background-color: var(--dark002);
  text-align: center;
  margin: var(--large);
  padding: 5rem var(--large);
  background-image: url(../images/bg-pattern-how-we-work-mobile.svg);
  background-repeat: no-repeat;
  background-position: top right;
}

.card__title--primary {
  color: var(--light001);
  font-size: var(--large);
  line-height: 1;
  margin-bottom: var(--large);
}

footer {
  background-color: var(--light001);
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../images/bg-pattern-footer-mobile.svg);
  background-repeat: no-repeat;
  background-position: top left;
  padding-top: 5rem;
}

.footer__logo {
  margin-bottom: var(--large);
}

.footer__social {
  display: flex;
  align-items: center;
}

.footer__group {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid var(--gray001);
  width: calc(100% - var(--large));
  padding: var(--large);
}

.footer__social > img:not(:last-child) {
  margin-right: var(--medium);
}

.footer__logo img {
  margin-right: 0;
}

.footer__links {
  width: 100%;
  padding-top: var(--large);
  display: flex;
  flex-direction: column;
}

.links__section {
  color: var(--gray001);
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  font-size: 0.875rem;
}

.footer__list li {
  text-align: center;
  margin-bottom: var(--medium);
}

.footer__list li:last-child {
  margin-bottom: var(--x-large);
}

.footer__list li a {
  color: var(--dark002);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
}

@keyframes menuOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 860px) {
  header,
  .about__group,
  .about__title,
  .group {
    max-width: 1240px;
    margin: 0 auto;
  }

  header,
  .container,
  .about,
  footer {
    padding: 0 var(--large);
  }

  nav {
    display: flex;
    padding: var(--large) 0;
  }

  .menu {
    display: none;
  }

  .list {
    width: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    height: auto;
    background-image: none;
    background-color: var(--light002);
  }

  .btn__cta {
    cursor: pointer;
  }

  .list__item:first-child {
    padding: 0;
  }

  .list__link {
    color: var(--gray001);
    font-size: 0.875rem;
  }

  .list__item:last-child {
    border: 2px solid var(--dark001);
    margin-right: 0;
  }

  .list__link--cta {
    color: var(--dark001);
    padding: 0.6rem var(--medium);
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark002);
    height: 45rem;
    position: relative;
    background-image: url(../images/bg-pattern-intro-left-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom -17rem left -2rem;
  }

  .container::after {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    content: "";
    background-image: url(../images/bg-pattern-intro-right-desktop.svg);
    background-repeat: no-repeat;
    background-position: top right;
  }

  .intro {
    order: -1;
    text-align: left;
    background-image: none;
    width: 38rem;
    height: 22rem;
    align-items: flex-start;
    padding: 0;
  }

  .intro__line {
    display: block;
    margin-bottom: var(--large);
    width: 8rem;
    height: 2px;
    background-color: var(--gray001);
  }

  .intro__title {
    width: 16ch;
  }

  .hero {
    width: 35rem;
    height: 50rem;
    align-self: flex-end;
    transform: translateY(7rem);
  }

  .about {
    padding-top: 10rem;
    background-image: url(../images/bg-pattern-intro-left-desktop.svg);
    background-position: top -15rem left -2rem;
  }

  .about__group {
    width: 100%;
    align-items: flex-start;
  }

  .about__title,
  .card--primary {
    width: 100%;
  }

  .intro__title,
  .about__title {
    font-size: var(--x-large);
  }

  .about__title {
    padding-bottom: 6rem;
  }

  .group {
    flex-direction: row;
  }

  .card {
    padding: 0;
    text-align: left;
    margin-bottom: 0;
    max-width: 100%;
    flex: 1;
    align-items: flex-start;
  }

  .card__text {
    width: 94%;
  }

  .card:not(:last-child) {
    margin-right: var(--x-large);
  }

  .card--primary {
    max-width: 1240px;
    margin: 5rem auto;
    flex-direction: row;
    background-image: url(../images/bg-pattern-how-we-work-desktop.svg);
    padding: 5rem;
    display: flex;
    align-items: center;
  }

  .card__title--primary {
    margin-bottom: 0;
    font-size: 2.5rem;
    width: 22rem;
    text-align: left;
  }

  .card--primary .btn__cta {
    margin-left: auto;
  }

  footer {
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url(../images/bg-pattern-footer-desktop.svg);
    background-position: top left;
    background-size: 30%;
  }

  .footer__group {
    flex-direction: row;
    width: 100%;
    max-width: 1240px;
    padding: var(--large) 0;
    border-bottom: 1px solid var(--gray002);
  }

  .logo,
  .footer__logo {
    cursor: pointer;
    margin-bottom: 0;
  }

  .footer__social {
    margin-left: auto;
    cursor: pointer;
  }

  .links {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .footer__links {
    flex-direction: row;
    max-width: 1240px;
  }

  .links__section,
  .footer__list li {
    text-align: left;
  }
}

a,
.list__link--cta,
.btn__cta,
.footer__list a {
  transition: color 0.2s cubic-bezier(0.465, 0.183, 0.153, 0.946),
    background-color 0.5s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

@media (hover: hover) {
  a:hover {
    color: var(--dark001);
  }

  .list__link--cta:hover {
    background-color: var(--dark001);
    color: var(--light002);
  }

  .btn__cta:hover {
    color: var(--dark001);
    background-color: var(--light002);
  }
  .footer__list a:hover {
    text-decoration: underline;
  }
}
