.about {
  padding: var(--large) var(--small);
}

a {
  text-decoration: none;
}

.btn--back {
  padding: var(--x-small) var(--medium);
  color: var(--text-color);
  background-color: var(--background-color);
  border-radius: 4px;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 5.32%);
  font-weight: 400;
  margin-bottom: calc(2 * var(--medium));
}

.btn--back span {
  margin-right: var(--x-small);
}

.container {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  max-width: 25rem;
  margin: 0 auto;
}

.container__left {
  width: 100%;
  overflow: hidden;
  height: 16rem;
  margin-bottom: var(--large);
}

.container__left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.country__more {
  padding: var(--small) 0;
}

.country__more span,
.country__fact span {
  font-weight: 600;
}

.country__more .country__name {
  margin-bottom: var(--medium);
}

.country__more p,
.country__fact p {
  margin-bottom: var(--x-small);
}

.country__fact {
  margin-bottom: var(--large);
}

.country__borders h3 {
  font-weight: 500;
  margin-bottom: var(--small);
}

.border__country {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.list__item {
  list-style: none;
  background-color: var(--background-color);
  box-shadow: 0px 2px 9px 0px rgb(0 0 0 / 10%);
  padding: var(--x-small) 0;
  width: 30%;
  text-align: center;
  border-radius: 4px;
  margin-bottom: var(--x-small);
  margin-right: var(--x-small);
}

.list__item a {
  padding: var(--x-small) var(--large);
}

.border__country a {
  text-decoration: none;
  font-size: 0.875rem;
  width: 5rem;
  text-align: center;
  color: var(--text-color);
}

/* Loading animations */
.container.is-loading {
  max-width: 100%;
  width: 100%;
}

.container__left.is-loading,
.container__right.is-loading .country__name,
.container__right.is-loading .container__group,
.container__right.is-loading .country__borders,
.container__right.is-loading .border__country {
  background-color: var(--loading);
  background: linear-gradient(
    110deg,
    var(--loading) 8%,
    var(--loading-accent) 18%,
    var(--loading) 33%
  );
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
  color: var(--loading);
}

.container__left.is-loading img {
  border-left: none;
  height: 25rem;
}

.container__right.is-loading .country__name,
.container__right.is-loading .country__borders h3 {
  width: 15rem;
  height: 2.5rem;
}

.container__right.is-loading .container__group {
  width: 100%;
  height: 10rem;
  margin-bottom: var(--x-small);
}

@media screen and (min-width: 720px) {
  .container {
    flex-direction: row;
    margin: 0;
    max-width: 100%;
  }

  .container__left,
  .container__right {
    width: 48%;
  }

  .container__left,
  .container__right {
    max-width: 25rem;
  }

  .container__left {
    max-width: 40rem;
    margin-right: calc(2 * var(--large));
  }
  .container__left img {
    object-fit: contain;
  }

  .country__name {
    font-size: 1.75rem;
  }
}

@media screen and (min-width: 1080px) {
  .about {
    padding: var(--small) 5rem;
  }

  .btn--back {
    margin-top: var(--large);
  }

  .container__left {
    height: 25rem;
  }

  .container__right {
    max-width: 29rem;
    height: 25rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .country__name {
    width: 100%;
  }

  .container__group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--large);
  }
  .country__more {
    margin: 0;
    padding: 0;
  }
  .country__borders {
    width: 100%;
  }
}

@media screen and (min-width: 1400px) {
  .container,
  .back__group {
    max-width: 95rem;
    margin: 0 auto;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
