:root {
  --text-color: #ffffff;
  --background-color: #2b3844;
  --section-bg: #202c36;

  /* Loading colors */
  --loading-accent: #202c36;
  --loading: #1b2630;
  --icon-filter: invert(100%);
}

header img[src*=".svg"],
.form__icon,
.btn--back span {
  filter: var(--icon-filter);
}
