* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text-color: hsl(200, 15%, 8%);
  --background-color: #ffffff;
  --section-bg: #fafafa;
  --input: hsl(0, 0%, 52%);

  /* Loading colors */
  --loading-accent: #f9f9f9;
  --loading: #f2f2f2;

  /* sizing */
  --x-small: 0.5rem;
  --small: 1rem;
  --medium: 1.5rem;
  --large: 2rem;
}

body {
  font-family: "Nunito Sans", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

img {
  display: block;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color);
  padding: var(--small);
  background-color: var(--background-color);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 25%);
}

header h1 {
  font-size: 1rem;
}

button {
  border: none;
  color: var(--text-color);
  font-weight: 600;
  text-transform: capitalize;
  padding: var(--small);
  background-color: transparent;
  display: flex;
  align-items: center;
}

button span {
  transform: rotate(-30deg);
  margin-right: var(--x-small);
}

section {
  padding: var(--medium) var(--small);
  flex: 1;
  background-color: var(--section-bg);
}

input[type="text"] {
  width: 100%;
}

.form {
  font-size: 1rem;
  padding: var(--small);
  color: var(--text-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 5.32%);
}

input[type="text"]::placeholder {
  color: var(--text-color);
}

#region {
  margin: var(--large) 0;
  width: 60%;
}

.countries {
  display: grid;
  gap: var(--medium);
}

.country {
  background-color: var(--background-color);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 2.94%);
}

.country__flag {
  overflow: hidden;
  height: 13rem;
}

.country__flag img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.country__about {
  padding: var(--medium);
}

.country__name {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: var(--small);
}

.country__population span,
.country__region span,
.country__capital span {
  font-weight: 600;
  color: var(--text-color);
}

/* Loading class */
.country.is-loading {
  width: 100%;
}

.country.is-loading .country__flag,
.country.is-loading .country__name,
.country.is-loading .country__population,
.country.is-loading .country__region,
.country.is-loading .country__capital {
  background-color: var(--loading);
  background: linear-gradient(
    110deg,
    var(--loading) 8%,
    var(--loading-accent) 18%,
    var(--loading) 33%
  );
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
  color: var(--loading);
}

.country.is-loading .country__flag {
  border-left: none;
  height: 13rem;
}

.country.is-loading .country__name {
  height: 2.5rem;
}

.country.is-loading .country__population,
.country.is-loading .country__region,
.country.is-loading .country__capital {
  height: 1.5rem;
  margin-bottom: var(--x-small);
  padding-left: var(--x-small);
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

/* Disable every animation on the page if users has reduce motion enabled */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
