* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text-color: hsl(200, 15%, 8%);
  --background-color: #ffffff;
  --section-bg: #fafafa;

  /* Loading colors */
  --loading-accent: #f9f9f9;
  --loading: #f2f2f2;

  /* sizing */
  --x-small: 0.5rem;
  --small: 1rem;
  --medium: 1.5rem;
  --large: 2rem;
}

body {
  font-family: "Nunito Sans", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

img {
  display: block;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color);
  padding: var(--small);
  background-color: var(--background-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header__group {
  display: flex;
  align-items: center;
  width: 100%;
}

header h1 {
  font-size: 1rem;
  margin-right: auto;
}

button {
  border: none;
  color: var(--text-color);
  font-weight: 600;
  text-transform: capitalize;
  padding: var(--small);
  background-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
}

header button span {
  transform: rotate(-30deg);
  margin-right: var(--x-small);
}

section {
  padding: var(--medium) var(--small);
  flex: 1;
  background-color: var(--section-bg);
}

input[type="text"] {
  width: 100%;
}

.form {
  font-size: 1rem;
  padding: var(--small);
  color: var(--text-color);
  background-color: var(--background-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 5.32%);
}

input[type="text"]::placeholder {
  color: var(--text-color);
}

#region {
  margin: var(--large) 0;
  width: 60%;
  cursor: pointer;
}

.countries {
  display: grid;
  gap: var(--medium);
  place-items: center;
}

.country {
  min-width: 18rem;
  max-width: 25rem;
  background-color: var(--background-color);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 2.94%);
  transition: 0.1s ease-in all;
}

.country__flag {
  overflow: hidden;
  width: 100%;
  height: 12rem;
}

.country__flag img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.country__about {
  color: var(--text-color);
  padding: var(--medium);
}

.country__name {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: var(--small);
}

.country__population span,
.country__region span,
.country__capital span {
  font-weight: 600;
  color: var(--text-color);
}

/* Loading class */
.country.is-loading {
  width: 100%;
}

.country.is-loading .country__flag,
.country.is-loading .country__name,
.country.is-loading .country__population,
.country.is-loading .country__region,
.country.is-loading .country__capital {
  background-color: var(--loading);
  background: linear-gradient(
    110deg,
    var(--loading) 8%,
    var(--loading-accent) 18%,
    var(--loading) 33%
  );
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
  color: var(--loading);
}

.country.is-loading .country__flag {
  border-left: none;
  height: 13rem;
}

.country.is-loading .country__name {
  height: 2.5rem;
}

.country.is-loading .country__population,
.country.is-loading .country__region,
.country.is-loading .country__capital {
  height: 1.5rem;
  margin-bottom: var(--x-small);
  padding-left: var(--x-small);
}

.hidden {
  display: none;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

@media screen and (min-width: 650px) {
  .countries {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .form__group {
    display: flex;
    margin-bottom: var(--large);
  }

  input[type="text"] {
    width: 25rem;
  }

  #region {
    width: 30%;
    max-width: 12rem;
    margin: 0 0 0 auto;
  }
}

@media screen and (min-width: 970px) {
  header {
    padding: var(--small) 5rem;
  }
  section {
    padding: var(--medium) 5rem;
  }

  .countries {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1400px) {
  .header__group {
    max-width: 95rem;
    margin: 0 auto;
  }

  .countries {
    max-width: 95rem;
    gap: 3rem;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
  }

  .form__group {
    max-width: 95rem;
    margin: 0 auto var(--large) auto;
  }
}
/* Disable every animation on the page if users has reduce motion enabled */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}

.country:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 10%);
}

/* Styles for country page */
.about {
  padding: var(--large) var(--small);
}

.btn--back {
  padding: var(--x-small) var(--medium);
  color: var(--text-color);
  background-color: var(--background-color);
  border-radius: 4px;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 5.32%);
  font-weight: 400;
  margin-bottom: calc(2 * var(--medium));
}

.btn--back span {
  margin-right: var(--x-small);
}

.container {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  max-width: 25rem;
  margin: 0 auto;
}

.container__left {
  width: 100%;
  overflow: hidden;
  height: 16rem;
  margin-bottom: var(--large);
}

.container__left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.country__more {
  padding: var(--small) 0;
}

.country__more span,
.country__fact span {
  font-weight: 600;
}

.country__more .country__name {
  margin-bottom: var(--medium);
}

.country__more p,
.country__fact p {
  margin-bottom: var(--x-small);
}

.country__fact {
  margin-bottom: var(--large);
}

.country__borders h3 {
  font-weight: 500;
  margin-bottom: var(--small);
}

.border__country {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.list__item {
  list-style: none;
  background-color: var(--background-color);
  box-shadow: 0px 2px 9px 0px rgb(0 0 0 / 10%);
  padding: var(--x-small) 0;
  width: 30%;
  text-align: center;
  border-radius: 4px;
  margin-bottom: var(--small);
}
.border__country a {
  text-decoration: none;
  font-size: 0.875rem;
  width: 5rem;
  text-align: center;
  color: var(--text-color);
}

@media screen and (min-width: 650px) {
  .container {
    flex-direction: row;
    margin: 0;
    /* align-items: center; */
    max-width: 100%;
  }
  .container__left,
  .container__right {
    width: 48%;
  }

  .container__left,
  .container__right {
    max-width: 25rem;
  }

  .container__left {
    max-width: 40rem;
    margin-right: calc(2 * var(--large));
  }
}

@media screen and (min-width: 970px) {
  .about {
    padding: var(--small) 5rem;
  }

  .container {
    align-items: center;
  }
  .container__left {
    height: 25rem;
  }

  .container__right {
    max-width: 35rem;
    height: 25rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .container__right .country__name {
    width: 100%;
  }

  .container__group {
    display: flex;
    margin-bottom: var(--large);
  }
  .country__more {
    margin: 0;
    padding: 0;
  }
  .country__borders {
    width: 100%;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 95rem;
    margin: 0 auto;
  }
  .btn--back {
    max-width: 95rem;
  }
}
