.btn {
  border: 1px solid $dark;
  background-color: transparent;
  text-transform: uppercase;
  padding: $sm 0;
  max-width: 15rem;

  a {
    padding: $lg;
    color: $dark;
    letter-spacing: 3px;
  }
}
