.card {
  position: relative;
  height: max-content;
  max-width: $content-size;
  margin-bottom: $lg;
  overflow: hidden;
  position: relative;

  &::before{
    cursor: pointer;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    background: linear-gradient(
      to top,
      hsla(0, 0%, 0%, 0.497) 64%,
      hsla(0, 0%, 0%, 0.417) 71.3%,
      hsla(0, 0%, 0%, 0.337) 78.1%,
      hsla(0, 0%, 0%, 0.259) 84.2%,
      hsla(0, 0%, 0%, 0.186) 89.6%,
      hsla(0, 0%, 0%, 0.117) 94.1%,
      hsla(0, 0%, 0%, 0.054) 97.6%,
      hsla(0, 0%, 0%, 0) 100%
    );
  }

  &:hover:before{
    transition: .2s ease-in all;
    cursor: pointer;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .6);
  } 

  &__title {
    position: absolute;
    bottom: $m;
    left: $m;
    color: $light;
    width: 50%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


@media screen and (min-width: $medium) {
  .card {
    height: 35rem;
    margin-bottom: 0;
  }
}
@media screen and (min-width: $large) {
  .card {
    height: max-content;
  }
}