* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

:root {
  --primary: #5964e0;
  --light-violet: #939bf4;
  --very-dark-blue: #19202d;
  --midnight: #121721;

  --white: #ffffff;
  --light-gray: #f4f6f8;
  --gray: #9daec2;
  --dark-gray: #6e8098;

  /* sizing */
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
}

.open {
  height: 100vh;
  overflow-y: hidden;
  position: fixed;
}

img {
  display: block;
}

/* Default styles */
button {
  border-radius: 4px;
  border: none;
}

/* Mobile design */

/* Header section */
header {
  width: 100%;
  height: 13.6rem;
  background-image: url(../mobile/bg-pattern-header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3.2rem 1.6rem;
  background-color: var(--background);
}

.container {
  display: flex;
  margin-bottom: 3.2rem;
}

.mode {
  margin-left: auto;
  display: flex;
  align-items: center;
}

form {
  background-color: var(--job-bg);
  margin: 0 auto;
  max-width: 50rem;
  border-radius: 8px;
  height: 8rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
}

input[type="text"] {
  background-color: var(--job-bg);
  width: 100%;
  height: 8rem;
  border: none;
  border-radius: 8px;
  font-size: 1.6rem;
  padding: 0 1.6rem;
  color: var(--title);
}

input[type="text"]::placeholder {
  color: var(--gray);
}

.filter,
.search {
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.filter,
.search__icon {
  height: 2rem;
}

.filter {
  position: absolute;
  right: 20%;
  width: 2.5rem;
  height: 2.5rem;
}

.filter__container {
  width: calc(100% - 3.3rem);
  max-width: 50rem;
  background-color: var(--job-bg);
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-60%) translateX(-50%);
  border-radius: 8px;
  overflow: hidden;
  flex-direction: column;
  padding: 1.6rem;
  display: none;
  box-shadow: 10px 10px 5px 600px rgba(0, 0, 0, 0.75);
}

.filter__container.is-open {
  display: flex;
}

.filter__container .location {
  border-bottom: 1px solid gray;
  height: 6rem;
  border-radius: 0;
  padding-left: 3rem;
}

.location__icon {
  position: absolute;
  top: 3.3rem;
  left: 1.6rem;
}

.checkbox__group {
  margin: 1.6rem 0;
  display: flex;
  align-items: center;
}

#checkbox,
#checkbox--mobile {
  border: none;
  height: 2rem;
  width: 2rem;
}

.checkbox,
.checkbox--mobile {
  display: inline-flex;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--title);
  margin-left: 1.2rem;
}

.search {
  position: absolute;
  right: 5%;
  background-color: var(--primary);
  padding: 1rem;
}

/* jobs section */
.jobs {
  padding: 10rem 1.6rem 2rem 1.6rem;
  display: grid;
  gap: 5rem;
  place-items: center;
}

.job {
  display: flex;
  flex-direction: column;
  background-color: var(--job-bg);
  border-radius: 8px;
  padding: 0 1.6rem 1.6rem 1.6rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 40rem;
  height: 30rem;
}

.job__logo {
  order: -5;
  width: 8rem;
  height: 8rem;
  border-radius: 15px;
  background-color: #fff;
  transform: translateY(-2.5rem);
  overflow: hidden;
  padding: 1rem;
}

.job__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.job__date,
.job__company,
.job__location {
  font-size: 1.6rem;
  color: var(--dark-gray);
  margin-bottom: 1.5rem;
}

.job__date {
  order: -4;
}

.job__title {
  order: -3;
  color: var(--title);
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.job__location {
  color: var(--primary);
  font-weight: 700;
  margin-top: auto;
}

.cta {
  background-color: var(--primary);
  color: var(--white);
  width: 14.1rem;
  height: 4.8rem;
  font-size: 1.6rem;
  font-weight: 700;
}

.cta--search {
  width: 100%;
}

/* tablet styles */
@media screen and (min-width: 720px) {
  /* header styles */
  header {
    background-image: url(../tablet/bg-pattern-header.svg);
    height: 16rem;
    padding: 3.2rem;
  }

  .container,
  form {
    max-width: 90rem;
  }

  .filter,
  .search {
    display: none;
  }

  form {
    display: flex;
    align-items: center;
    padding: 1.6rem;
  }

  form .input--title {
    width: 33.33%;
    border-radius: 0;
    margin-left: 1.5rem;
  }

  .search--icon {
    position: absolute;
    width: 2rem;
    height: 2rem;
  }

  form .input--location {
    width: 33.33%;
    border-radius: 0;
    margin-left: 2rem;
  }

  .location--pin {
    position: absolute;
    left: 37%;
  }

  .checkbox__group {
    margin-left: 1rem;
  }

  .cta--search {
    margin-left: auto;
    width: 8rem;
    height: 4.8rem;
  }

  .container {
    margin: 0 auto 3.6rem auto;
  }

  /* jobs section */
  .jobs {
    max-width: 82rem;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem 2rem;
    padding: 10rem 3.2rem 0 3.2rem;
  }

  .load-more {
    margin: 3rem auto;
  }
}

/* desktop styles */
@media screen and (min-width: 1080px) {
  /* header styles */
  header {
    background-image: url(../desktop/bg-pattern-header.svg);
    padding: 3.2rem;
  }

  .container,
  form {
    max-width: 125rem;
  }

  form .input--location {
    width: 33.33%;
    border-radius: 0;
    margin-left: 3.5rem;
  }

  /* jobs styles */
  .jobs {
    grid-template-columns: repeat(3, 1fr);
    max-width: 120rem;
  }
}
