* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  --primary: #5964e0;
  --background: #f4f6f8;
  --job-bg: #ffffff;
  --title: #19202d;
  --dark-gray: #5e6c80;
  --gray: #545e69;
  /* Loading colors */
  --loading-accent: #f9f9f9;
  --loading: #f2f2f2;
}

html[data-theme="dark"] {
  --primary: #7983f8;
  --background: #121721;
  --job-bg: #19202d;
  --title: #ffffff;
  --checkbox-bg: #979797;
  --dark-gray: #8699b6;
  --gray: #899bad;
  /* loading colors */
  --loading-accent: #202c36;
  --loading: #1b2630;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

:root {
  --primary-high: #5964e04b;
  --primary-low: #5964e025;
  --light-violet: #939bf4;

  --white: #ffffff;
  /* sizing */
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
}

.open {
  height: 100vh;
  overflow-y: hidden;
  position: fixed;
}

img {
  display: block;
}

/* Default styles */
button {
  border-radius: 4px;
  border: none;
}

/* Mobile design */

/* Header section */
header {
  width: 100%;
  height: 13.6rem;
  background-image: url(../mobile/bg-pattern-header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3.2rem 1.6rem;
  background-color: var(--background);
}

.container {
  display: flex;
  margin-bottom: 3.2rem;
}

.mode {
  margin-left: auto;
  display: flex;
  align-items: center;
}

#switch {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switch {
  cursor: pointer;
  text-indent: -9999px;
  width: 5.2rem;
  height: 2.7rem;
  background: var(--white);
  display: block;
  border-radius: 100px;
  position: relative;
  margin: 0 1rem;
}

.switch:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 2rem;
  height: 2rem;
  background: var(--primary);
  border-radius: 2rem;
  transition: 0.5s;
}

#switch:checked + label {
  background: var(--white);
}

#switch:checked + label:after {
  left: calc(100% - 25px);
}

.switch:active:after {
  width: 4.5rem;
}

form {
  background-color: var(--job-bg);
  margin: 0 auto;
  max-width: 50rem;
  border-radius: 8px;
  height: 8rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
}

input[type="text"] {
  background-color: var(--job-bg);
  width: 100%;
  height: 8rem;
  border: none;
  border-radius: 8px;
  font-size: 1.6rem;
  padding: 0 1.6rem;
  color: var(--title);
  outline: none;
  cursor: pointer;
  caret-color: var(--primary);
}

input[type="text"]::placeholder {
  color: var(--gray);
}

.filter,
.search {
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.filter,
.search__icon {
  height: 2rem;
}

.filter {
  position: absolute;
  right: 20%;
  width: 2.5rem;
  height: 2.5rem;
}

.filter__container {
  width: calc(100% - 3.3rem);
  max-width: 50rem;
  background-color: var(--job-bg);
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-60%) translateX(-50%);
  border-radius: 8px;
  overflow: hidden;
  flex-direction: column;
  padding: 1.6rem;
  display: none;
  box-shadow: 10px 10px 5px 600px rgba(0, 0, 0, 0.75);
}

.filter__container.is-open {
  display: flex;
}

.filter__container .location {
  border-bottom: 1px solid gray;
  height: 6rem;
  border-radius: 0;
  padding-left: 3rem;
}

.location__icon {
  position: absolute;
  top: 3.3rem;
  left: 1.6rem;
}

.checkbox__group {
  margin: 1.6rem 0;
  display: flex;
  align-items: center;
}

#checkbox,
#checkbox--mobile {
  border: none;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

.checkbox,
.checkbox--mobile {
  display: inline-flex;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--title);
  margin-left: 1.2rem;
  cursor: pointer;
}

.search {
  position: absolute;
  right: 5%;
  background-color: var(--primary);
  padding: 1rem;
}

/* jobs section */
.jobs {
  width: 100%;
  padding: 10rem 1.6rem 2rem 1.6rem;
}

.job {
  display: flex;
  flex-direction: column;
  background-color: var(--job-bg);
  border-radius: 8px;
  padding: 0 1.6rem 1.6rem 1.6rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 40rem;
  height: 30rem;
  cursor: pointer;
  transition: 0.2s ease-in transform;
  word-wrap: break-word;
  margin: 0 auto 5rem auto;
}

.job:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
}

.job__logo {
  order: -5;
  width: 8rem;
  height: 8rem;
  border-radius: 15px;
  background-color: #fff;
  transform: translateY(-2.5rem);
  overflow: hidden;
  padding: 1rem;
}

.job__about h1,
.job__about h2 {
  margin: 2rem 0;
}

.job__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.job__date,
.job__company,
.job__location {
  font-size: 1.6rem;
  color: var(--dark-gray);
  margin-bottom: 1.5rem;
}

.job__date {
  order: -4;
}

.job__title {
  order: -3;
  color: var(--title);
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.job__location {
  color: var(--primary);
  font-weight: 700;
  margin-top: auto;
}

.cta {
  background-color: var(--primary);
  color: var(--white);
  width: 14.1rem;
  height: 4.8rem;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
}

.cta--search {
  width: 100%;
}

.load-more {
  margin: 3rem auto;
}

/* Job description page */
.about {
  padding: 0 1.6rem;
  line-height: 1.3;
}

.about__card {
  transform: translateY(-2rem);
  background-color: var(--job-bg);
  width: 100%;
  height: 24.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
}

.about__company {
  color: var(--title);
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.about__site {
  font-size: 1.6rem;
  color: var(--dark-gray);
  margin-bottom: 3rem;
}

.link {
  text-decoration: none;
  color: var(--primary);
  font-size: 1.6rem;
  font-weight: 700;
}

.link--cta {
  background-color: var(--primary-low);
  padding: 1.6rem;
  border-radius: 4px;
}

.job__description {
  background-color: var(--job-bg);
  padding: 1.6rem;
  border-radius: 8px;
  color: var(--gray);
  font-size: 1.6rem;
  margin-bottom: 3rem;
  min-height: 70vh;
}

.job__description ul {
  margin: 1rem 0 2rem 0;
  padding: 0 3rem;
}

.job__description ul li::marker {
  color: var(--primary);
}

.job__group {
  display: flex;
  flex-direction: column;
}

.full--width {
  margin: 2rem 0 4rem 0;
  width: 100%;
}

strong {
  color: var(--title);
  font-size: 2rem;
  display: inline-block;
  margin: 2rem 0;
}

.job__description a {
  color: var(--primary);
  font-weight: 700;
}

.apply {
  background-image: url(../desktop/bg-pattern-detail-footer.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white);
  border-radius: 8px;
  padding: 1.6rem;
  margin-bottom: 3rem;
  overflow: hidden;
  word-wrap: break-word;
  min-height: 15rem;
}

.apply h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.apply p {
  font-size: 1.6rem;
}

.apply a {
  font-weight: 700;
  color: var(--white);
}

.apply__now {
  padding: 0 1.6rem;
  background-color: var(--job-bg);
}

.company__apply {
  display: none;
}
/* Loading class */
.job.is-loading {
  width: 100%;
  height: 30rem;
}

.job.is-loading .job__title,
.job.is-loading .job__company,
.job.is-loading .job__location,
.job.is-loading .job__date,
.job.is-loading .job__logo {
  background-color: var(--loading);
  background: linear-gradient(
    110deg,
    var(--loading) 8%,
    var(--loading-accent) 18%,
    var(--loading) 33%
  );
  background-size: 200% 100%;
  animation: 2s shine linear infinite;
  color: var(--loading);
}

.job.is-loading .job__title {
  width: 100%;
  height: 3rem;
}

.job.is-loading .job__company,
.job.is-loading .job__location,
.job.is-loading .job__date {
  height: 2rem;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

.cta--search,
.load-more {
  transition: 0.15s ease-in opacity;
}

.job__title {
  transition: 0.15s ease-in color;
}

.link--cta {
  transition: 0.15s ease-in background;
}

/* tablet styles */
@media screen and (min-width: 720px) {
  /* header styles */
  header {
    background-image: url(../desktop/bg-pattern-header.svg);
    height: 16rem;
    padding: 3.2rem;
  }

  .container,
  form {
    max-width: 90rem;
  }

  .filter,
  .search {
    display: none;
  }

  form {
    display: flex;
    align-items: center;
    padding: 1.6rem;
  }

  form .input--title {
    width: 33.33%;
    border-radius: 0;
    margin-left: 1.5rem;
  }

  .search--icon {
    position: absolute;
    width: 2rem;
    height: 2rem;
  }

  form .input--location {
    width: 33.33%;
    border-radius: 0;
    margin-left: 2rem;
  }

  .location--pin {
    position: absolute;
    left: 36%;
  }

  .checkbox__group {
    margin-left: 1rem;
  }

  .cta--search {
    margin-left: auto;
    width: 12rem;
    height: 4.8rem;
  }

  .container {
    margin: 0 auto 3.6rem auto;
  }

  /* jobs section */
  .jobs {
    display: grid;
    place-items: center;
    max-width: 82rem;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem 2rem;
    padding: 10rem 3.2rem 0 3.2rem;
  }

  .job {
    width: 100%;
  }

  .job__title {
    width: 23ch;
  }

  /* job page */

  .about {
    padding: 0 3.6rem;
  }
  .about__card {
    flex-direction: row;
    padding-right: 3.6rem;
  }

  .about__card {
    height: 15rem;
  }

  .about__card .link--cta {
    width: 15rem;
    text-align: center;
  }

  .company__info {
    margin-right: auto;
  }

  .about__card .job__logo {
    width: 15rem;
    border-radius: 8px 0 0 8px;
    height: 100%;
    transform: translate(0);
    margin-right: 3.6rem;
  }

  .about__site {
    margin-bottom: 0;
  }

  .job__description,
  .apply {
    padding: 3.6rem;
  }

  .job__group {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .job__more {
    width: 70%;
    margin-right: auto;
  }

  .full--width {
    width: 15rem;
    margin: 0;
  }

  .apply__now {
    display: flex;
    align-items: center;
    padding: 3.6rem;
  }

  .company__apply {
    display: block;
    margin-right: auto;
  }

  .company__apply .job__title {
    font-weight: 700;
    font-size: 2rem;
  }
  .company__apply .about__company {
    font-weight: 400;
    color: var(--dark-gray);
    font-size: 1.6rem;
    margin: 0;
  }

  .apply__container {
    background-color: var(--job-bg);
    display: flex;
    align-items: center;
  }

  .about__card,
  .job__description,
  .apply,
  .apply__now {
    max-width: 72rem;
    margin: 0 auto 3rem auto;
  }

  .apply__now {
    padding: 3.6rem 0;
    width: 72rem;
    margin-bottom: 0;
  }
}

/* desktop styles */
@media screen and (min-width: 1080px) {
  /* header styles */
  header {
    padding: 3.2rem;
  }

  .container,
  form {
    max-width: 125rem;
  }

  form .input--location {
    width: 33.33%;
    border-radius: 0;
    margin-left: 3.5rem;
  }

  /* jobs styles */
  .jobs {
    grid-template-columns: repeat(3, 1fr);
    max-width: 120rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}

@media (hover: hover) {
  .cta--search:hover,
  .load-more:hover {
    opacity: 70%;
  }

  .job__title--hv:hover {
    color: var(--dark-gray);
  }
  .link--cta:hover {
    background-color: var(--primary-high);
  }
}
