* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* colors */
  --dark-magenta: hsl(300, 43%, 22%);
  --dark-gray-magenta: hsl(303, 10%, 53%);
  --light-gray-magenta: hsl(300, 24%, 96%);
  --soft-pink: hsl(333, 80%, 67%);
  --light: hsl(0, 0%, 100%);

  /* spacing */
  --x-small: 0.25rem;
  --small: 0.5rem;
  --medium: 1rem;
  --large: 1.5rem;
  --x-large: 2rem;
}

body {
  font-family: "Spartan", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--light);
  background-image: url(../images/bg-pattern-top-mobile.svg),
    url(../images/bg-pattern-bottom-mobile.svg);
  background-position: top left, bottom right;
  background-repeat: no-repeat;
}

section {
  padding: 5rem var(--large);
  text-align: center;
}

.about__title {
  color: var(--dark-magenta);
  font-size: 2rem;
  line-height: 1.1;
  margin-bottom: var(--large);
}

.about__description {
  color: var(--dark-gray-magenta);
  line-height: 1.5;
  font-weight: 500;
  font-size: 0.875rem;
  margin-bottom: var(--x-large);
}

.review {
  margin-bottom: var(--x-large);
}

.review__card {
  background-color: var(--light-gray-magenta);
  padding: var(--medium) 0;
  border-radius: 7px;
}

.review__card:not(:last-child) {
  margin-bottom: var(--medium);
}

.review__text {
  font-weight: 700;
  color: var(--dark-magenta);
  font-size: 0.875rem;
  margin-top: var(--small);
}

.buyer__card {
  background-color: var(--dark-magenta);
  border-radius: 7px;
  padding: var(--large);
  text-align: left;
  color: var(--light-gray-magenta);
}

.buyer__card:not(:last-child) {
  margin-bottom: var(--medium);
}

.buyer__info {
  display: flex;
  align-items: center;
  margin-bottom: var(--large);
}

.buyer__picture {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: var(--medium);
}

.buyer__picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.buyer__about {
  font-weight: 700;
  font-size: 0.875rem;
}

.buyer__name {
  color: var(--light-gray-magenta);
  margin-bottom: var(--x-small);
  opacity: 90%;
}

.buyer__verification {
  color: var(--soft-pink);
  opacity: 80%;
  font-weight: 500;
}

.buyer__review {
  font-size: 0.875rem;
  line-height: 1.5;
  opacity: 90%;
}

@media screen and (min-width: 720px) {
  body {
    background-image: url(../images/bg-pattern-top-desktop.svg),
      url(../images/bg-pattern-bottom-desktop.svg);
  }

  section {
    padding: 10rem var(--x-large);
    text-align: left;
    flex: 1;
  }

  .about {
    display: flex;
    margin-bottom: 5rem;
  }

  .about__wrapper {
    width: 50%;
  }

  .about__title {
    font-size: 2.5rem;
    max-width: 25rem;
  }

  .review {
    margin-left: auto;
    width: 40%;
  }

  .review__card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  .review__text {
    margin-top: 0;
    margin-left: var(--large);
  }

  .buyer {
    display: flex;
  }

  .buyer__card:not(:last-child) {
    margin-bottom: 0;
    margin-right: var(--large);
  }

  .about__description,
  .review {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  section {
    max-width: 1280px;
    margin: 0 auto;
  }

  .about__description {
    max-width: 27rem;
  }

  .review__card {
    max-width: 27rem;
    opacity: 0;
    animation: show 0.5s 0s cubic-bezier(0.465, 0.183, 0.153, 0.946) forwards;
  }

  .review__card:nth-child(2) {
    animation: show 0.5s 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946) forwards;
    transform: translateX(var(--x-large));
  }

  .review__card:nth-child(3) {
    animation: show 0.5s 0.6s cubic-bezier(0.465, 0.183, 0.153, 0.946) forwards;
    transform: translateX(calc(var(--x-large) * 2));
  }

  .buyer__card {
    flex: 1;
    padding: var(--x-large);
    margin-bottom: 0;
  }

  .buyer__card:nth-child(2) {
    transform: translateY(var(--x-large));
  }

  .buyer__card:nth-child(3) {
    transform: translateY(calc(var(--x-large) * 2));
  }

  @keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
